{% extends 'employer/base.html' %}
{% block content %}
<header class="gradient">
        <div class="menu-sec">
            <div class="container">
                <!-- <div class="logo">
                    <a href="/" title=""><img src="/static/images/resource/logo.png" alt="" /></a>
                </div> --><!-- Logo -->
                <!-- <div class="btn-extars">
                    <a  style="border-color:#8a99b3; background-color: white; font-size: 18px; color: blue;" href="/postnewjob/?next=/postnewjob/" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                    <ul class="account-btns">
                        <li class="signup-popup"><a style="font-size: 20px;"href="/register/" title=""><i class="la la-key"></i> Sign Up</a></li>
                        <li class="signin-popup"><a style="font-size: 20px;"href="/login/" title=""><i class="la la-external-link-square"></i> Login</a></li>
                    </ul>
                </div> --><!-- Btn Extras -->
                <nav>

                </nav><!-- Menus -->
            </div>
        </div>
    </header>
    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>About Us</h3>
                                <span>Keep up to date with the latest news</span>
                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <!-- <li><a href="#" title="">Home</a></li>
                                    <li><a href="#" title="">Pages</a></li>
                                    <li><a href="#" title="">About Us</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 style="font-size: 28px">About Job Hunt</h3>
                                </div>
                                <div class="col-lg-7">
                                    <p style="font-size: 18px">Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much. </p>
                                    <p style="font-size: 18px">Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p>
                                </div>
                                <div class="col-lg-5">
                                    <img src="/static/images/resource/bsd1.jpg" alt="" />
                                </div>
                                <div class="col-lg-12">
                                    <p style="font-size: 18px">Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much. </p>
                                    <p style="font-size: 18px">Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p>
                                </div>
                            </div>
                            <!-- <div class="tags-share">
                                <div class="share-bar">
                                    <a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="share-google"><i class="la la-google"></i></a><span>Share</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="our-services">
                            <div class="row">
                                <div class="col-lg-12"><h2 style="font-size: 28px">Our Service</h2></div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div  class="service">
                                        <i class="la la-clock-o"></i><div  class="service-info"><h3>Advertise A Job</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-search"></i><div class="service-info"><h3>CV Search</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-user"></i><div class="service-info"><h3>Recruiter Profiles</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-codepen"></i><div class="service-info"><h3>Temp Search</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-tv"></i><div class="service-info"><h3>Display Jobs</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-diamond"></i><div class="service-info"><h3>For Agencies</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="stats-sec style2">
                            <div class="row">
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>{{jobs}}</span>
                                        <h5>Jobs Posted</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>{{jobfilled}}</span>
                                        <h5>Jobs Filled</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>{{company}}</span>
                                        <h5>Companies</h5>
                                    </div>
                                </div>
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                    <div class="stats">
                                        <span>{{employee}}</span>
                                        <h5>Members</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
