{% extends 'employer/base3.html' %}
{% block content %}
<section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(/static/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Candidates</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="block no-padding">
        <div class="container">
             <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <div class="widget">
                        <form method ='POST' action='/candidates/'>
                            {% csrf_token %}
                                <div class="search_widget_job">
                                    <div class="field_w_search">
                                        <input type="text" name='key' placeholder="Search Keywords" />
                                        <i class="la la-search"></i>
                                    </div>

                            </div>
                        </form>
                    </div>
                    <!-- <div class="widget">
                        <h3 class="sb-title open">Last Activity</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="22"><label for="22">Last Hour</label></p>
                                <p><input type="checkbox" name="smplechk" id="23"><label for="23">Last 24 hours</label></p>
                                <p><input type="checkbox" name="smplechk" id="24"><label for="24">Last 7 days</label></p>
                                <p><input type="checkbox" name="smplechk" id="25"><label for="25">Last 14 days</label></p>
                                <p><input type="checkbox" name="smplechk" id="26"><label for="26">Last 30 days</label></p>
                                <p><input type="checkbox" name="smplechk" id="27"><label for="27">All</label></p>
                            </div>
                        </div>
                    </div> -->


                   <!--  <div class="widget">
                        <h3 class="sb-title open">Offerd Salary</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="1"><label for="1">10k - 20k</label></p>
                                <p><input type="checkbox" name="smplechk" id="2"><label for="2">20k - 30k</label></p>
                                <p><input type="checkbox" name="smplechk" id="3"><label for="3">30k - 40k</label></p>
                                <p><input type="checkbox" name="smplechk" id="4"><label for="4">40k - 50k</label></p>
                                <p><input type="checkbox" name="smplechk" id="28"><label for="28">50k - 60k</label></p>
                                <p><input type="checkbox" name="smplechk" id="29"><label for="29">60k - 70k</label></p>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="widget">
                        <h3 class="sb-title closed">Career Level</h3>
                        <div class="specialism_widget">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="smplechk" id="5"><label for="5">Intermediate</label></p>
                                <p><input type="checkbox" name="smplechk" id="6"><label for="6">Normal</label></p>
                                <p><input type="checkbox" name="smplechk" id="7"><label for="7">Special</label></p>
                                <p><input type="checkbox" name="smplechk" id="8"><label for="8">Experienced</label></p>
                            </div>
                        </div>
                    </div> -->


                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="emply-resume-sec">
                            {% if candidate %}
                            {% for item in candidate %}
                            {% if item.employeeid.id not in list %}
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="{{item.employeepersonalid.employeeid.profileimage.url}}" width="90px" height="90px" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">{{item.employeepersonalid.fullname}}</a></h3>
                                    <span><i>{{item.employeejobdetailsid.jobtitle}}</i> at {{item.employeejobdetailsid.company}}</span>
                                    <p><i class="la la-map-marker"></i>{{item.employeepersonalid.country}} / {{item.employeepersonalid.city}}</p>
                                </div>
                                <div class="shortlists">
                                    <a href="/employeeprofileshortlist/?id={{item.employeepersonalid.employeeid.id}}" title="">Shortlist <i class="la la-plus"></i></a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% else %}

<!--                                 <span style="text-align: center; margin-left: 150px; " class='text-info'><h3>Not Found</h3></span>
 -->
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function value(){
        var value =
        $.ajax({
            url:'/candidatesearch/',
            date:{
                'value':value
            },
            dataType:'json',
            success: function(){
                return success;
            }
        });

    }
</script>
{% endblock %}
