{% extends 'employer/base2.html' %}
{% block content %}
<div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <div style="color: red; text-align: center">{{error}}</div>
                                <h3>Change Password</h3>
                                <div class="change-password">

                                    <form class="needs-validation" action='/employerchangepassword/' method='POST' novalidate>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="pf-title">Old Password</span>
                                                <div class="pf-field">
                                                    <input name='old' input field required type="password" />
                                                </div>
                                                <span class="pf-title">New Password</span>
                                                <div class="pf-field">
                                                    <input name='newpass' input field required type="password" />
                                                </div>
                                                <span class="pf-title">Confirm Password</span>
                                                <div class="pf-field">
                                                    <input name='repass' input field required type="password" />
                                                </div>
                                                <button type="submit">Update</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <i class="la la-key big-icon"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
{% endblock%}
