{% extends 'employer/base.html' %}
{% block content %}
<header class="gradient">
        <div class="menu-sec">
            <div class="container">
                <!-- <div class="logo">
                    <a href="/" title=""><img src="/static/images/resource/logo.png" alt="" /></a>
                </div> --><!-- Logo -->
                <!-- <div class="btn-extars">
                    <a  style="border-color:#8a99b3; background-color: white; font-size: 18px; color: blue;" href="/postnewjob/?next=/postnewjob/" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                    <ul class="account-btns">
                        <li class="signup-popup"><a style="font-size: 20px;"href="/register/" title=""><i class="la la-key"></i> Sign Up</a></li>
                        <li class="signin-popup"><a style="font-size: 20px;"href="/login/" title=""><i class="la la-external-link-square"></i> Login</a></li>
                    </ul>
                </div> --><!-- Btn Extras -->
                <nav>

                </nav><!-- Menus -->
            </div>
        </div>
    </header>
    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>How It Works</h3>
                                <span>Get a digital tour of how Jobhunt works for you.</span>
                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <!-- <li><a href="#" title="">Home</a></li>
                                    <li><a href="#" title="">Pages</a></li>
                                    <li><a href="#" title="">How it Works</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section>
        <div class="block ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="how-works">
                            <div class="how-workimg"><img src="/static/images/resource/hw1.jpg" alt="" /></div>
                            <div class="how-work-detail">
                                <div class="how-work-box">
                                    <span>1</span>
                                    <i class="la la-user"></i>
                                    <h3 style="font-size: 25px">Register an account</h3>
                                    <p style="font-size: 16px">inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
                                </div>
                            </div>
                        </div>
                        <div class="how-works flip">
                            <div class="how-workimg"><img src="/static/images/resource/hw2.jpg" alt="" /></div>
                            <div class="how-work-detail">
                                <div class="how-work-box">
                                    <span>2</span>
                                    <i class="la la-file-text"></i>
                                    <h3 style="font-size: 25px">Specify & Search Your Job</h3>
                                    <p style="font-size: 16px">You’ll receive applications via email. You can also manage jobs and candidates from your Indeed dashboard. Review applications, Schedule interviews and view recommended candidates all from one place.</p>
                                </div>
                            </div>
                        </div>
                        <div class="how-works">
                            <div class="how-workimg"><img src="/static/images/resource/hw3.jpg" alt="" /></div>
                            <div class="how-work-detail">
                                <div class="how-work-box">
                                    <span>3</span>
                                    <i class="la la-pencil"></i>
                                    <h3 style="font-size: 25px">Apply For Job</h3>
                                    <p style="font-size: 16px">inJob is the leading and longest-running online recruitment in Turkey. We understand that job-seekers come to us not only for a job, but for an pportunity to realize their professional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
