{% extends 'login&register/base.html' %}
{% block content %}
<section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Register</h3>
                            </div>

                            <div class="page-breacrumbs">

                                <ul class="breadcrumbs">
                                    <li><a href="/" title="">Home</a></li>
                                    <li><a href="/register/" title="">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="account-popup-area signup-popup-box static">
                            <div class="account-popup">
                                <div style="color: red;">{{error}}</div>
<!--                                 <h3>Sign Up</h3>
 -->                                <form method='POST' action='/register/'>
                                    {% csrf_token %}
                                    <div class="select-user" >
                                        <h7><input type="radio" name="usertype" value="Candidate" id="22"><label for="22">Candidate</label></h7>
                                       <h7><input type="radio" name="usertype" value="Employer" id="3"><label for="3">Employer</label></h7>
                                       <br><br>
                                    </div>

                                    <div class="cfield">
                                        <input type="text" placeholder="Name" name='name' input field required />
                                        <i class="la la-user"></i>
                                    </div>
                                    <div class="cfield">
                                        <input type="password" placeholder="********" name='pass' input field required/>
                                        <i class="la la-key"></i>
                                    </div>
                                    <div class="cfield">
                                        <input type="text" placeholder="Email" name='email' input field required/>
                                        <i class="la la-envelope-o"></i>
                                    </div>

                                    <div class="cfield">
                                        <input type="text" placeholder="Phone Number" name='phone' input field required />
                                        <i class="la la-phone"></i>
                                    </div>
                                    <button type="submit">Signup</button>
                                </form>
                                <div class="extra-login">
                                    <span>Or</span>
                                    <div class="login-social">
                                        <a class="fb-login" href="#" title=""><i class="la la-facebook"></i></a>
                                        <a class="tw-login" href="#" title=""><i class="la la-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- SIGNUP POPUP -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
