{% extends 'login&register/base.html' %}
{% block content %}
<section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Register</h3>
                            </div>

                            <div class="page-breacrumbs">

                                <ul class="breadcrumbs">
                                    <li><a href="/" title="">Home</a></li>
                                    <li><a href="/register/" title="">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="account-popup-area signup-popup-box static">
                            <div class="account-popup">
                                {{error}}
                                <h3>Sign Up</h3>
                                <form method='POST' action='/register/'>
                                    {% csrf_token %}
                                    <div class="select-user" >
                                    <span ><input type="radio"  checked=""  name="usertype" value='Candidate'>Candidate</span>
                                    <span ><input type="radio"  name="usertype" value='Employer'>Employer</span>
                                    </div>

                                    <div class="cfield">
                                        <input type="text" placeholder="Name" name='name' />
                                        <i class="la la-user"></i>
                                    </div>
                                    <div class="cfield">
                                        <input type="password" placeholder="********" name='pass'/>
                                        <i class="la la-key"></i>
                                    </div>
                                    <div class="cfield">
                                        <input type="text" placeholder="Email" name='email'/>
                                        <i class="la la-envelope-o"></i>
                                    </div>

                                    <div class="cfield">
                                        <input type="text" placeholder="Phone Number" name='phone' />
                                        <i class="la la-phone"></i>
                                    </div>
                                    <button type="submit">Signup</button>
                                </form>
                                <div class="extra-login">
                                    <span>Or</span>
                                    <div class="login-social">
                                        <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                        <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- SIGNUP POPUP -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
