{% extends 'employee/base2.html' %}
{% block content %}
                            <div class="col-lg-9 column">
                                <div class="padding-left">
                                    <div class="manage-jobs-sec">
                                    <div class="border-title"><h3>Awards</h3><a class="back" href="/employeeresume/" title=""><i class="la la-close"></i> Back</a></div>
                                    <div class="resumeadd-form">
                                        <form method='POST' >
                                            {% csrf_token %}
                                            {% if update %}
                                            {% for item in update %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <span class="pf-title">Award Name</span>
                                                    <div class="pf-field">
                                                        <input value='{{item.awardname}}' type="text" name='name' required="">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <span class="pf-title">Year</span>
                                                    <div class="pf-field">
                                                        <input value='{{item.year}}' type="text" name='year' class="form-control datepicker" required="">
                                                    </div>
                                                </div>


                                                <div class="col-lg-12">
                                                    <span class="pf-title">Description</span>
                                                    <div class="pf-field">
                                                        <textarea   name='description'>{{item.description}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                     <button type="submit">Save</button>
                                                </div>
                                                <div class="border-title"><h3></h3>
                                                <div class="resumeadd-form">
                                                    <div class="row">
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <span class="pf-title">Award Name</span>
                                                    <div class="pf-field">
                                                        <input  type="text" name='name'>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <span class="pf-title">Year</span>
                                                    <div class="pf-field">
                                                        <input  type="text" name='year' class="form-control datepicker">
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <span class="pf-title">Description</span>
                                                    <div class="pf-field">
                                                        <textarea   name='description'></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                     <button type="submit">Save</button>
                                                </div>
                                                <div class="border-title"><h3></h3>
                                                <div class="resumeadd-form">
                                                    <div class="row">
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
</section>
{% endblock %}
