{% extends 'employee/base2.html' %}
{% block content %}
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                {% if success %}
                                <div style="text-align: center; padding: 10px;">
                                    <a class="btn btn-success">{{success}}</a>
                                </div>
                                {% endif%}
                                <div class="border-title"><h3 style="font-size: 20px;">Education</h3><a class="back" href="/employeeresume/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;"  class="la la-undo"></i> Back</a></div>
                                <div class="resumeadd-form">
                                    <form method='POST' >
                                        {% csrf_token %}
                                        {% if update %}
                                        {% for item in update %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">University</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" value='{{item.title}}' input field required type="text" name='title'>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">Course</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" value='{{item.course}}' input field required type="text" name='course'>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span style="font-size: 14px;"class="pf-title">Start Year</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;"value='{{item.startyear}}' input field required type="text" name='startyear' class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span style="font-size: 14px;"class="pf-title">End Year</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;"value='{{item.endyear}}' input field required type="text" name='endyear' class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">Institute</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" value='{{item.institute}}' input field required type="text" name='institute'>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">Description</span>
                                                <div class="pf-field">
                                                    <textarea style="font-size: 15px;"input field required  name='description'>{{item.description}}</textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                 <button style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Save</button>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">University</span>
                                                <div class="pf-field">
                                                    <input  style="font-size: 15px;"type="text" input field required name='title'>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">Course</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" type="text" input field required name='course'>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span style="font-size: 14px;"class="pf-title">Start Year</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" type="text" input field required name='startyear' class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span style="font-size: 14px;"class="pf-title">End Year</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" type="text" input field required name='endyear' class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">Institute</span>
                                                <div class="pf-field">
                                                    <input  style="font-size: 15px;" type="text" input field required name='institute'>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">Description</span>
                                                <div class="pf-field">
                                                    <textarea style="font-size: 15px;"input field required  name='description'></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                 <button  style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Save</button>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
</section>
{% endblock %}
