 {% extends 'employee/base2.html' %}
{% block content %}
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            {% if success %}
                            <div style="text-align: center; padding: 10px;">
                                <a class="btn btn-success">{{success}}</a>
                            </div>
                            {% endif%}
                            <div class="border-title"><h3 style="font-size: 20px;">Work Experience</h3><a class="back" href="/employeeresume/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;"  class="la la-undo"></i> Back</a></div>
                                <div class="resumeadd-form">
                                    <form method='POST' >
                                        {% csrf_token %}
                                        {% if update %}
                                        {% for item in update %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">Job</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" value='{{item.job}}' input field required name='job' type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">Company</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" value='{{item.company}}' input field required name='company' type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <span style="font-size: 14px;"class="pf-title">Start Date</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" data-date=""  data-date-format="DD MM YYYY" value='{{item.startyear}}' input field required name='startyear' type="date" class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <span style="font-size: 14px;" class="pf-title">End Date</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;"value='{{item.endyear}}' data-date="" data-date-format="DD MMMM YYYY" name='endyear'  type="date" class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <p class="remember-label">
                                                    <input type="checkbox"  name="present" value='' id="fgfg"><label for="fgfg">Present</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">Job Description</span>
                                                <div class="pf-field">
                                                    <textarea  style="font-size: 15px;" input field required name='desc'>{{item.jobdescription}}</textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                 <button  style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Save</button>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;"class="pf-title">Job</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" name='job' input field required type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">Company</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" name='company' input field required type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <span style="font-size: 14px;" class="pf-title">Start Date</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" name='startyear' input field required type="date" class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <span style="font-size: 14px;"class="pf-title">End Date</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" name='endyear'  type="date" class="form-control datepicker">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <p class="remember-label">
                                                    <input type="checkbox"  name="present"  id="fgfg"><label for="fgfg">Present</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-12">
                                                <span style="font-size: 14px;" class="pf-title">Job Description</span>
                                                <div class="pf-field">
                                                    <textarea style="font-size: 15px;" input field required name='desc'></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                 <button style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Save</button>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
{% endblock %}
