{% extends 'employee/base2.html' %}
{% block content %}
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <div class="border-title"><h3>Portfolio</h3><a class="Back" href="/employeeresume/" title=""><i class="la la-close"></i> Back</a></div>
                                <div class="resumeadd-form">
                                    <form method="POST"  enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        {% if update %}
                                        {% for item in update %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="upload-portfolio">
                                                    <div class="uploadbox">
                                                        <label for="file-upload" class="custom-file-upload">
                                                            <i class="la la-cloud-upload"></i> <span>Upload Image</span>
                                                        </label>
                                                        <input id="file-upload"  name='portfolio' value='{{item.image.url}}' type="file" style="display: none;" />
                                                    </div>
                                                    <div class="uploadfield">
                                                        <span class="pf-title">Website URL</span>
                                                        <div class="pf-field">
                                                            <input name='url' value='{{item.url}}' type="URL">
                                                        </div>
                                                    </div>
                                                    <div class="uploadbutton">
                                                        <button type="submit">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="upload-portfolio">
                                                    <div class="uploadbox">
                                                        <label for="file-upload" class="custom-file-upload">
                                                            <i class="la la-cloud-upload"></i> <span>Upload Image</span>
                                                        </label>
                                                        <input id="file-upload" name='portfolio' type="file" style="display: none;" />
                                                    </div>
                                                    <div class="uploadfield">
                                                        <span class="pf-title">Website URL</span>
                                                        <div class="pf-field">
                                                            <input name='url' type="URL">
                                                        </div>
                                                    </div>
                                                    <div class="uploadbutton">
                                                        <button type="submit">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
</section>
{% endblock %}
