{% extends 'employee/base2.html' %}
{% block content %}


                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                {% if error%}
                                <div style="text-align: center; padding: 10px;">
                                    <a class="btn btn-info" class='close' onclick="">{{error}}</a>
                                </div>
                                {% endif%}
                                <h3>Applied Jobs</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <td style="font-size:16px;color:#8a99b3;">Job</td>
                                            <td style="font-size:16px;color:#8a99b3;">Position</td>
                                            <td style="font-size:16px;color:#8a99b3;">Status</td>
                                            <td style="font-size:16px;color:#8a99b3;">Date</td>
                                            <td style="font-size:16px;color:#8a99b3;"></td>
                                        </tr>
                                    </thead>
                                    {% for item in applied%}
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="table-list-title">
                                                    <i style="font-size: 15px">{{item.jobid.employerid.companyname}}</i><br />
                                                    <span style="font-size: 15px"><i class="la la-map-marker"></i>{{item.jobid.country}}, {{item.jobid.city}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-list-title">
                                                    <h3><a href="/employeejob/?id={{item.jobid.id}}" title="">{{item.jobid.jobtitle}}</a></h3>
                                                </div>
                                            </td>
                                            <td>
                                                <span style="font-size: 15px">{{item.status}}</span><br />
                                            </td>
                                            <td>
                                                <span style="font-size: 15px">{{item.date|date:'d-m-Y'}}</span><br />
                                            </td>
                                            <!-- <td>
                                                <div class="action-center">
                                                    <span><li class="open-contact"><a href="#" title="">Review</a></li></span>
                                                </div>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
    <!-- <div class="contactus-popup">
    <div class="contact-popup">
        <i class="la la-close close-contact"></i>
        <h3>Review</h3>
        <form method='POST' action='/employeereview/'>
            {% csrf_token %}
            {% for item in applied %}
            {% if item.status == 'Passed' %}
            <div class="select-user">
                <h7><input type="radio" name="details" id="22"><label for="22">Add Company details on Profile</label></h7>
                <br><br>
            </div>
            {% endif %}
            {% endfor %}
            {% for item in applied %}
            <input type="hidden" name="jobid" value='{{item.jobid.id}}'>
            <div class="popup-field">
                <textarea name='review' placeholder=""></textarea>
            </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
    </div> -->
{% endblock %}
