{% extends 'employee/base2.html' %}
{% block content %}
<div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                {% if error %}
                                    <div style="text-align: center; padding: 10px;">
                                        <a style="background-color: #FFC469;" class="btn btn-warning">{{error}}</a>
                                    </div>
                                {% endif%}
                                <h3>Change Password</h3>
                                <div class="change-password">

                                    <form class="needs-validation" action='/employeechangepassword/' method='POST' >
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="pf-title">Old Password</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" placeholder="old password" name='old' input field required type="password" />
                                                    <i class="la la-key"></i>
                                                </div>
                                                <span class="pf-title">New Password</span>
                                                <div class="pf-field">
                                                    <input title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" input field required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" style="font-size: 14px;" placeholder="new password" name='newpass' onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : ''); if(this.checkValidity()) form.confirm_password.pattern = RegExp.escape(this.value);" />
                                                    <i class="la la-key"></i>
                                                </div>
                                                <span class="pf-title">Confirm Password</span>
                                                <div class="pf-field">
                                                    <input style="font-size: 15px;" type="password" name='confirm_password' placeholder="Confirm Password"  title="Please enter the same Password as above" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"  />
                                                    <i class="la la-key"></i>
                                                    <span id='message'></span>
                                                </div>
                                                <button style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Update</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <i class="la la-key big-icon"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
    <!-- <script type="text/javascript">
        $('#password, #confirm_password').on('keyup', function () {
          if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
          } else
            $('#message').html('Not Matching').css('color', 'red');
        });
    </script> -->
{% endblock%}
