{% extends 'employee/base.html' %}
{% block content %}
<header class="gradient">
        <div class="menu-sec">
            <div class="container">
                <!-- <div class="logo">
                    <a href="/" title=""><img src="/static/images/resource/logo.png" alt="" /></a>
                </div> --><!-- Logo -->
                <!-- <div class="btn-extars">
                    <a  style="border-color:#8a99b3; background-color: white; font-size: 18px; color: blue;" href="/postnewjob/?next=/postnewjob/" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                    <ul class="account-btns">
                        <li class="signup-popup"><a style="font-size: 20px;"href="/register/" title=""><i class="la la-key"></i> Sign Up</a></li>
                        <li class="signin-popup"><a style="font-size: 20px;"href="/login/" title=""><i class="la la-external-link-square"></i> Login</a></li>
                    </ul>
                </div> --><!-- Btn Extras -->
                <nav>

                </nav><!-- Menus -->
            </div>
        </div>
    </header>
    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Contact</h3>
<!--                                 <span>Keep up to date with the latest news</span>
 -->                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <!-- <li><a href="#" title="">Home</a></li>
                                    <li><a href="#" title="">Pages</a></li>
                                    <li><a href="#" title="">Contact</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                 <div class="row">
                    <div class="col-lg-6 column">
                        <div class="contact-form">
<!--                             <h3>Keep In Touch</h3>
 -->                            <form>
                                <!-- <div class="row">
                                    <div class="col-lg-12">
                                        <span class="pf-title">Full Name</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="ALi TUFAN" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Email</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="ALi TUFAN" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Subject</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="ALi TUFAN" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Message</span>
                                        <div class="pf-field">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">Send</button>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div style="position: relative; left: -600px" class="col-lg-6 column">
                        <div class="contact-textinfo">
                            <h3 style="font-size: 28px">JobHunt Office</h3>
                            <ul>
                                <li><i class="la la-map-marker"></i><span style="font-size: 18px">Jobify Inc. 555 Madison Avenue, Suite F-2 Manhattan, New York 10282 </span></li>
                                <li><i class="la la-phone"></i><span style="font-size: 18px">Call Us : 0934 343 343</span></li>
                                <li><i class="la la-fax"></i><span style="font-size: 18px">Fax : 0934 343 343</span></li>
                                <li><i class="la la-envelope-o"></i><span style="font-size: 18px">Email : </span></li>
                            </ul>
<!--                             <a class="fill" href="#" title="">See on Map</a><a href="#" title="">Directions</a>
 -->                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>

{% endblock %}
