{% extends 'employee/base2.html' %}
{% block content %}
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            {% if success %}
                            <div style="text-align: center; padding: 10px;">
                                <a class="btn btn-success">{{success}}</a>
                            </div>
                            {% endif%}
                            <div class="border-title"><h3 style="font-size: 20px;">Personal Resume</h3><a class="Back" href="/employeeresume/" style="color:#8a99b3;" title=""><i style=" background-color:#8a99b3;"class="la la-undo"></i> Back</a></div>
                                <div class="resumeadd-form">
                                    <form method="POST"  enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        {% if update %}
                                        {% for item in update %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="upload-portfolio">
                                                    <div class="uploadbox">
                                                        <label for="file-upload" class="custom-file-upload">
                                                            <i class="la la-cloud-upload"></i> <span style="font-size: 14px;">Upload Resume</span>
                                                        </label>
                                                        <input id="file-upload"  name='resume' type="file" style="display: none;" />
                                                    </div>
                                                    <div class="uploadbutton">
                                                        <button style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="upload-portfolio">
                                                    <div class="uploadbox">
                                                        <label for="file-upload" class="custom-file-upload">
                                                            <i class="la la-cloud-upload"></i> <span>Upload Resume</span>
                                                        </label>
                                                        <input id="file-upload"  name='resume' type="file" style="display: none;" />
                                                    </div>
                                                    <div class="uploadbutton">
                                                        <button style="background-color: #8a99b3;border-color: #8a99b3;" type="submit">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-title"><h3></h3>
                                            <div class="resumeadd-form">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
</section>
{% endblock %}
