{% extends 'employee/base2.html' %}
{% block content %}

                <div class="col-lg-9 column">
                        <div class="padding-left">
                            {% if error%}
                            <div style="text-align: center; padding: 10px;">
                                <a class="btn btn-info" class='close' onclick="">{{error}}</a>
                            </div>
                            {% endif%}
                            <div class="profile-title" id="mp">
                                <h3 style="font-size: 20px;">Profile</h3>
                            </div>

                            <div class="profile-form-edit">
                                <form method='POST' action='/employeeprofile/' enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    {% for item in employee_reg %}
                                    <div class="upload-img-bar">
                                        <span><img src="{{item.profileimage.url}}" width="160px" height="138px" alt="" /><i style="background-color:#8a99b3; ">x</i></span>
                                        <div class="upload">
                                            <label for="file-upload" class="custom-file-upload">
                                            </label>
                                            <input id="file-upload" type="file" name='image' style="display: none;" />
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="row">
                                        {% for item in employee_per %}
                                        {% if item.fullname  %}
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Full Name</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name="fullname" placeholder="Name" input field required value='{{item.fullname}}' />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Birth Date</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="date" name='age' value="{{item.age}}" class="form-control datepicker" />
                                            </div>
                                        </div>
                                         <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Gender</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" name='gender' input field required  class="chosen">
                                                    <option  style="font-size: 15px;"value='{{item.gender}}'>{{item.gender}}</option>
                                                    <option style="font-size: 15px;"value='Male'>Male</option>
                                                    <option style="font-size: 15px;"value='Female'>Female</option>
                                                    <option style="font-size: 15px;"svalue='Other'>Other</option>
                                                </select>
                                             </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Qualification</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" name='edu' input field required class="chosen">
                                                    <option style="font-size: 15px;" value='{{item.education}}'>{{item.education}}</option>
                                                    <option style="font-size: 15px;"value='Under Graduate'>Under Graduate</option>
                                                    <option style="font-size: 15px;"value='Graduate'>Graduate</option>
                                                    <option style="font-size: 15px;"value='Professional'>Professional</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span style="font-size: 14px;"class="pf-title">Description</span>
                                            <div class="pf-field">
                                                <textarea style="font-size: 15px;" name='description'  placeholder="description">{{item.description}}</textarea>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Full Name</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name="fullname" placeholder="Name" input field required  />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Birth Date</span>
                                            <div class="pf-field">
                                                <input type="date" style="font-size: 15px;" name='age' placeholder="DOB" input field required  class="form-control datepicker" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Gender</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" input field required name='gender'  class="chosen">
                                                    <option style="font-size: 15px;"value=''>Select Option</option>
                                                    <option style="font-size: 15px;"value='Male'>Male</option>
                                                    <option style="font-size: 15px;"value='Female'>Female</option>
                                                    <option style="font-size: 15px;"value='Other'>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Qualification</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" name='edu' input field required class="chosen">
                                                    <option style="font-size: 15px;"value='Under Graduate'>Under Graduate</option>
                                                    <option style="font-size: 15px;"value='Graduate'>Graduate</option>
                                                    <option style="font-size: 15px;"value='Professional'>Professional</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span style="font-size: 14px;"class="pf-title">Description</span>
                                            <div class="pf-field">
                                                <textarea style="font-size: 15px;"name='description' placeholder="description"></textarea>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                <div class="social-edit">
                                {% for item in employee_job %}
                                <h3 style="font-size: 20px;">Company Details</h3>
                                {% if item.company %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;"class="pf-title">Company Name</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;" type="text" name="company" placeholder="company "  value='{{item.company}}' />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;"class="pf-title">Job Title</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;" type="text" name="jobtitle" value='{{item.jobtitle}}' placeholder="company "   />
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;"class="pf-title">CTC</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;" type="text" name='salary' placeholder="$0"  value='{{item.currentsalary}}' />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;"class="pf-title">Experience</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;"type="text" name='exp' placeholder="work experience"  value='{{item.experience}}' />
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;"class="pf-title">Company Name</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;" type="text" name="company" placeholder="Companyname "   />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;" class="pf-title">Job Title</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;"type="text" name="jobtitle"  placeholder="Job title "   />
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;"class="pf-title">CTC</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;"type="text" name='salary' placeholder="$0"   />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span style="font-size: 14px;" class="pf-title">Experience</span>
                                        <div class="pf-field">
                                            <input style="font-size: 15px;" type="text" name='exp' placeholder="work experience"   />
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                                <div class="social-edit">
                                <h3 style="font-size: 20px;">Social Media</h3>
    <!--                             <form method='POST' action='/employeesocialnetworks/'>
     -->                                <!-- {% csrf_token %} -->
                                    {% for item in employee_social %}
                                    {% if item.facebook  %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;" class="pf-title">Facebook</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name='facebook' input field required value='{{item.facebook}}' />
                                                <i class="la la-facebook"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Twitter</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name='twitter' input field required value='{{item.twitter}}' />
                                                <i class="la la-twitter"></i>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-6">
                                            <span class="pf-title">Google</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="www.google-plus.com/TeraPlaner" />
                                                <i class="la la-google"></i>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Linkedin</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;"type="text" name='linkedin' input field required value='{{item.linkedin}}' />
                                                <i class="la la-linkedin"></i>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Facebook</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name='facebook' placeholder="facebook" input field required />
                                                <i class="la la-facebook"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Twitter</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;"type="text" name='twitter' placeholder="twitter"  input field required />
                                                <i class="la la-twitter"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <span style="font-size: 14px;"class="pf-title">Linkedin</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name='linkedin' placeholder="linkedin"  input field required  />
                                                <i class="la la-linkedin"></i>
                                            </div>
                                        </div>
                                        {% endif%}
                                        <!-- <div class="col-lg-12">
                                            <button type="submit">Update</button>
                                        </div> -->
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="contact-edit">
                                <h3 style="font-size: 20px;">Contact</h3>
                                    <div class="row">
                                        {% for item in employee_reg %}

                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;" class="pf-title">Phone Number</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name='phone' input field required value='{{item.phoneno}}' />
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;"class="pf-title">Email</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;" type="text" name='email' input field required  input field required value='{{item.email}}' />
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for item in employee_per%}
                                        {% if item.address %}
                                        <div class="col-lg-12">
                                            <span style="font-size: 14px;"class="pf-title">Address</span>
                                            <div class="pf-field">
                                                <textarea style="font-size: 15px;" name='address' placeholder="address">{{item.address}}</textarea>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-12">
                                            <span style="font-size: 14px;"class="pf-title">Address</span>
                                            <div class="pf-field">
                                                <textarea style="font-size: 15px;"name='address' placeholder="address"></textarea>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if item.city  %}
                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;"class="pf-title">City</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;"type="text" name='city' input field required  value='{{item.city}}' />
                                            </div>
                                        </div>
                                        {%else%}
                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;"class="pf-title">City</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;"type="text" name='city' input field required  placeholder="city" />
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if item.state %}
                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;"class="pf-title">State</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;"type="text" name='state' value='{{item.state}}' />
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;"class="pf-title">State</span>
                                            <div class="pf-field">
                                                <input style="font-size: 15px;"type="text" name='state' placeholder="state" />
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="col-lg-4">
                                            <span style="font-size: 14px;"class="pf-title">Country</span>
                                            <div class="pf-field">
                                                <select name='country' class="chosen">
                                                    {% if item.country  %}
                                                    <option value='{{item.country}}'>{{item.country}}</option>
                                                    {% else %}
                                                    <option value=''>Select Option</option>
                                                    {% endif %}
                                                    <option value="Albania">Albania</option>
                                                    <option value="Algeria">Algeria</option>
                                                    <option value="American Samoa">American Samoa</option>
                                                    <option value="Andorra">Andorra</option>
                                                    <option value="Angola">Angola</option>
                                                    <option value="Anguilla">Anguilla</option>
                                                    <option value="Antartica">Antarctica</option>
                                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                    <option value="Argentina">Argentina</option>
                                                    <option value="Armenia">Armenia</option>
                                                    <option value="Aruba">Aruba</option>
                                                    <option value="Australia">Australia</option>
                                                    <option value="Austria">Austria</option>
                                                    <option value="Azerbaijan">Azerbaijan</option>
                                                    <option value="Bahamas">Bahamas</option>
                                                    <option value="Bahrain">Bahrain</option>
                                                    <option value="Bangladesh">Bangladesh</option>
                                                    <option value="Barbados">Barbados</option>
                                                    <option value="Belarus">Belarus</option>
                                                    <option value="Belgium">Belgium</option>
                                                    <option value="Belize">Belize</option>
                                                    <option value="Benin">Benin</option>
                                                    <option value="Bermuda">Bermuda</option>
                                                    <option value="Bhutan">Bhutan</option>
                                                    <option value="Bolivia">Bolivia</option>
                                                    <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                                                    <option value="Botswana">Botswana</option>
                                                    <option value="Bouvet Island">Bouvet Island</option>
                                                    <option value="Brazil">Brazil</option>
                                                    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                    <option value="Bulgaria">Bulgaria</option>
                                                    <option value="Burkina Faso">Burkina Faso</option>
                                                    <option value="Burundi">Burundi</option>
                                                    <option value="Cambodia">Cambodia</option>
                                                    <option value="Cameroon">Cameroon</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="Cape Verde">Cape Verde</option>
                                                    <option value="Cayman Islands">Cayman Islands</option>
                                                    <option value="Central African Republic">Central African Republic</option>
                                                    <option value="Chad">Chad</option>
                                                    <option value="Chile">Chile</option>
                                                    <option value="China">China</option>
                                                    <option value="Christmas Island">Christmas Island</option>
                                                    <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                                                    <option value="Colombia">Colombia</option>
                                                    <option value="Comoros">Comoros</option>
                                                    <option value="Congo">Congo</option>
                                                    <option value="Congo">Congo, the Democratic Republic of the</option>
                                                    <option value="Cook Islands">Cook Islands</option>
                                                    <option value="Costa Rica">Costa Rica</option>
                                                    <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                                                    <option value="Croatia">Croatia (Hrvatska)</option>
                                                    <option value="Cuba">Cuba</option>
                                                    <option value="Cyprus">Cyprus</option>
                                                    <option value="Czech Republic">Czech Republic</option>
                                                    <option value="Denmark">Denmark</option>
                                                    <option value="Djibouti">Djibouti</option>
                                                    <option value="Dominica">Dominica</option>
                                                    <option value="Dominican Republic">Dominican Republic</option>
                                                    <option value="East Timor">East Timor</option>
                                                    <option value="Ecuador">Ecuador</option>
                                                    <option value="Egypt">Egypt</option>
                                                    <option value="El Salvador">El Salvador</option>
                                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                    <option value="Eritrea">Eritrea</option>
                                                    <option value="Estonia">Estonia</option>
                                                    <option value="Ethiopia">Ethiopia</option>
                                                    <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
                                                    <option value="Faroe Islands">Faroe Islands</option>
                                                    <option value="Fiji">Fiji</option>
                                                    <option value="Finland">Finland</option>
                                                    <option value="France">France</option>
                                                    <option value="France Metropolitan">France, Metropolitan</option>
                                                    <option value="French Guiana">French Guiana</option>
                                                    <option value="French Polynesia">French Polynesia</option>
                                                    <option value="French Southern Territories">French Southern Territories</option>
                                                    <option value="Gabon">Gabon</option>
                                                    <option value="Gambia">Gambia</option>
                                                    <option value="Georgia">Georgia</option>
                                                    <option value="Germany">Germany</option>
                                                    <option value="Ghana">Ghana</option>
                                                    <option value="Gibraltar">Gibraltar</option>
                                                    <option value="Greece">Greece</option>
                                                    <option value="Greenland">Greenland</option>
                                                    <option value="Grenada">Grenada</option>
                                                    <option value="Guadeloupe">Guadeloupe</option>
                                                    <option value="Guam">Guam</option>
                                                    <option value="Guatemala">Guatemala</option>
                                                    <option value="Guinea">Guinea</option>
                                                    <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                    <option value="Guyana">Guyana</option>
                                                    <option value="Haiti">Haiti</option>
                                                    <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                                                    <option value="Holy See">Holy See (Vatican City State)</option>
                                                    <option value="Honduras">Honduras</option>
                                                    <option value="Hong Kong">Hong Kong</option>
                                                    <option value="Hungary">Hungary</option>
                                                    <option value="Iceland">Iceland</option>
                                                    <option value="India">India</option>
                                                    <option value="Indonesia">Indonesia</option>
                                                    <option value="Iran">Iran (Islamic Republic of)</option>
                                                    <option value="Iraq">Iraq</option>
                                                    <option value="Ireland">Ireland</option>
                                                    <option value="Israel">Israel</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Jamaica">Jamaica</option>
                                                    <option value="Japan">Japan</option>
                                                    <option value="Jordan">Jordan</option>
                                                    <option value="Kazakhstan">Kazakhstan</option>
                                                    <option value="Kenya">Kenya</option>
                                                    <option value="Kiribati">Kiribati</option>
                                                    <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
                                                    <option value="Korea">Korea, Republic of</option>
                                                    <option value="Kuwait">Kuwait</option>
                                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                    <option value="Lao">Lao People's Democratic Republic</option>
                                                    <option value="Latvia">Latvia</option>
                                                    <option value="Lebanon" >Lebanon</option>
                                                    <option value="Lesotho">Lesotho</option>
                                                    <option value="Liberia">Liberia</option>
                                                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                                    <option value="Liechtenstein">Liechtenstein</option>
                                                    <option value="Lithuania">Lithuania</option>
                                                    <option value="Luxembourg">Luxembourg</option>
                                                    <option value="Macau">Macau</option>
                                                    <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
                                                    <option value="Madagascar">Madagascar</option>
                                                    <option value="Malawi">Malawi</option>
                                                    <option value="Malaysia">Malaysia</option>
                                                    <option value="Maldives">Maldives</option>
                                                    <option value="Mali">Mali</option>
                                                    <option value="Malta">Malta</option>
                                                    <option value="Marshall Islands">Marshall Islands</option>
                                                    <option value="Martinique">Martinique</option>
                                                    <option value="Mauritania">Mauritania</option>
                                                    <option value="Mauritius">Mauritius</option>
                                                    <option value="Mayotte">Mayotte</option>
                                                    <option value="Mexico">Mexico</option>
                                                    <option value="Micronesia">Micronesia, Federated States of</option>
                                                    <option value="Moldova">Moldova, Republic of</option>
                                                    <option value="Monaco">Monaco</option>
                                                    <option value="Mongolia">Mongolia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title"></span>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" style="background-color: #8a99b3;border-color: #8a99b3;">Update</button>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
             </div>
        </div>
    </div>
</section>

{% endblock %}
