{% extends 'employee/base2.html' %}
{% block content %}
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        {% if error%}
                        <div style="text-align: center; padding: 10px;">
                            <a class="btn btn-info" class='close' onclick="">{{error}}</a>
                        </div>
                        {% endif%}
                        <div class="manage-jobs-sec">


                            <div class="border-title"><h3>Education</h3><a href="/education/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add Education</a></div>
                            <div class="edu-history-sec">
                                {% for item in education %}
                                <div class="edu-history">
                                    <i style="color: #98C86B;" class="la la-graduation-cap"></i>
                                    <div class="edu-hisinfo">
                                        <h3>{{item.title}}</h3>
                                        <i>{{item.startyear}} - {{item.endyear}}</i>
                                        <span>{{item.institute}} <i>{{item.course}}</i></span>
                                        <p>{{item.description}}</p>
                                    </div>
                                    <ul class="action_job">
                                        <li><span>Edit</span><a href="/education/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                        <li><span>Delete</span><a href="/education/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="border-title"><h3>Work Experience</h3><a href="/workexperience/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add Experience</a></div>
                            <div class="edu-history-sec">
                                {% for item in workexperience %}
                                <div class="edu-history style2">
                                    <i></i>
                                    <div class="edu-hisinfo">
                                        <h3>{{item.job}} <span>{{item.company}}</span></h3>
                                        <i>{{item.startyear}} - {{item.endyear}}</i>
                                        <p>{{item.jobdescription}}</p>
                                    </div>
                                    <ul class="action_job">
                                        <li><span>Edit</span><a href="/workexperience/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                        <li><span>Delete</span><a href="/workexperience/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="border-title"><h3>Portfolio</h3><a href="/portfolio/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add Portfolio</a></div>
                            <div class="mini-portfolio">
                                <div class="mp-row">
                                    {% for item in portflio %}
                                    <div class="mp-col">
                                        <div class="mportolio"><img src="{{item.image.url}}" width="165px" height="125px" alt="" /><a href="{{item.url}}" title=""><i class="la la-search"></i></a></div>
                                        <ul class="action_job">
                                        <li><span>Edit</span><a href="/portfolio/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                        <li><span>Delete</span><a href="/portfolio/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                    </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="border-title"><h3>Professional Skills</h3><a href="/professionalskill/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add Skills</a></div>
                            <div class="progress-sec">
                                {% for item in professionalskill%}
                                <div class="progress-sec with-edit">
                                    <span>{{item.skillname}}</span>
                                    <div class="progressbar"> <div class="progress"  style="background-color: #84E627; width: {{item.percentage}}%;"><span>{{item.percentage}}%</span></div> </div>
                                    <ul class="action_job">
                                        <li><span>Edit</span><a href="/professionalskill/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                        <li><span>Delete</span><a href="/professionalskill/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="border-title"><h3>Language Skills</h3><a href="/languages/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add Language</a></div>
                            <div class="progress-sec">
                                {% for item in languageskill %}
                                <div class="progress-sec with-edit">
                                    <span>{{item.language}}</span>
                                    <div class="progressbar"> <div class="progress" style="background-color: #84E627;width: {{item.percentage}}%;"><span>{{item.percentage}}%</span></div> </div>
                                    <ul class="action_job">
                                        <li><span>Edit</span><a href="/languages/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                        <li><span>Delete</span><a href="/lanquages/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="border-title"><h3>Awards</h3><a href="/awards/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add Skills</a></div>
                            <div class="edu-history-sec">
                                {% for item in awards %}
                                <div class="edu-history style2">
                                    <i></i>
                                    <div class="edu-hisinfo">
                                        <h3>{{item.awardname}}</h3>
                                        <i>{{item.year}}</i>
                                        <p>{{item.description}}</p>
                                    </div>
                                    <ul class="action_job">
                                        <li><span>Edit</span><a href="/awards/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                        <li><span>Delete</span><a href="/awards/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="border-title"><h3>Personal Resume</h3>{% if exist %}<a href="/personalresume/" style="color: #8a99b3;" title=""><i style=" background-color:#8a99b3;" class="la la-plus"></i> Add resume</a>{% endif%}</div>
                            <div class="mini-portfolio">
                                <div class="mp-row">
                                    {% for item in per_resume %}
                                    <div class="edu-history">
                                        <div class="edu-hisinfo">
                                            <h3>{{resumename}}</h3>
                                        </div>
                                        <ul class="action_job">
                                            <li><span>Edit</span><a href="/personalresume/?id={{item.id}}" title=""><i class="la la-pencil"></i></a></li>
                                            <li><span>Delete</span><a href="/personalresume/?id2={{item.id}}" title=""><i class="la la-trash-o"></i></a></li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock %}
